@page
@using StudentCourseRegistration.Components

model StudentCourseRegistration.Pages.CoursesModel
@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

@(await Html.RenderComponentAsync<CourseList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>


